body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(148, 146, 146);
}

main {
    background-color: rgb(56, 56, 56);
    width: 450px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    padding-bottom: 25px;
    padding-top: 15px;
}

.input-container > h1 {
    color: aliceblue;
}

.input-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 10px;
    margin-bottom: 15px;
    background-color: rgb(36, 36, 36);
    padding: 0 0 20px;
    border-radius: 5px;
}

#input-task {
    width: 300px;
    height: 30px;
    font-size: 1.5rem;
    font-family: Cambria, serif;
    background-color: rgb(85, 85, 85);
    color: aliceblue;
    outline: white;
}

#input-description {
    width: 300px;
    height: 100px;
    font-size: 1rem;
    font-family: Cambria, serif;
    resize: none;
    background-color: rgb(85, 85, 85);
    color: aliceblue;
    outline: white;
}

#add-task {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 1.5rem;
    border: none;
    background-color: rgb(187, 230, 231);
    cursor: pointer;
}

#add-task:hover {
    opacity: 0.9;
}

.task-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin: auto;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    font-size: 1.25rem;
    padding: 5px 0;
    border: solid 3px;
}

.task-title, .task-description {
    text-align: left;
    background-color: rgb(56, 56, 56);
    color: aliceblue;
    padding: 0.8rem 1rem;
    margin: 0;
    border-radius: 5px;
    max-width: 250px;
}

.task-title {
    font-size: 1.7rem;
}

.task-description {
    margin-top: 5px;
    padding: 1.2rem 1rem;
}

.task-completed {
    display: none;
}

.task-info {
    display: flex;
    flex-direction: column;
    min-width: 270px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.task-btn {
    margin: 54x 0;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-btn > button {
    font-family: monospace;
    font-family: Cambria, serif;
    border: none;
    padding: 5px 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(36, 36, 36);
}

.task-btn > button:hover {
    opacity: 0.9;
}

.task-edit {
    background-color: rgb(151, 228, 151);
} 
.task-delete {
    background-color: rgb(236, 127, 127);;
}

.modal-background {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    background-color: aliceblue;
    width: 360px;
    margin: 20% auto;
    margin-top: 15%;
    border-radius: 25px;
    padding: 10px 20px 30px;
}

.modal-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-modal {
    font-size: 1.5rem;
    color: gray;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover{
    opacity: 0.8;
}

.modal-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#edit-task-title {
    width: 300px;
    height: 30px;
    font-size: 1.2rem;
    font-family: Cambria, serif;
}

#edit-task-title:focus {
    outline: none;
}

#edit-task-description {
    width: 300px;
    height: 100px;
    font-size: 1rem;
    font-family: Cambria, serif;
    resize: none;
}

#edit-task-description:focus {
    outline: none;
}

#edit-task-completed-wrapper {
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

#save-task {
    background-color: black;
    color: aliceblue;
    border: none;
    cursor: pointer;
    border: 20px;
    font-size: 1.5rem;
    width: 75px;
    height: 40px;
    border-radius: 20px;
}

#save-task:hover {
    opacity: 0.85;
}

#entry-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(187, 230, 231);
}

.register, .login {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    padding-bottom: 30px;
    background-color: rgb(101, 158, 160);
    border-radius: 5px;
    font-family: Cambria, serif;
    font-size: 18px;
}

.hidden {
    display: none;
}

.register > label, .login > label {
    text-align: left;
    font-family: Cambria, serif;
    font-size: 20px;
}

.register > input, .login > input {
    margin-bottom: 15px;
    font-family: Cambria, serif;
    outline: none;
    padding: 5px 5px;
}

.buttons-reg > button {
    padding: 5px 10px;
    font-family: Cambria, serif;
    font-size: 14px;
}

#signup-btn:hover, #login-btn:hover,  #switch-to-login:hover, #switch-to-register:hover {
    background-color: rgb(41, 221, 221);
    border-radius: 5px;
    cursor: pointer;
}

#switch-to-login, #switch-to-register {
    background-color: rgb(101, 202, 202);;
    border-radius: 5px;
}

#signup-btn, #login-btn {
    background-color: rgb(187, 230, 231);
    border-radius: 5px;
}

#logout-btn {
    align-self: flex-end;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: aliceblue;
    border-radius: 5px;
    font-size: 14px;
}

#logout-btn:hover {
    background-color: rgb(206, 204, 204);
    cursor: pointer;
}